.todo-item {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}

.todo-text {
  flex-grow: 1;
  text-align: left;
}

.delete-button {
  background-color: #1f1f1f;
  border: none;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #000000;
}
